# data processing deps
numpy<2
pandas

# Python file formater and linter
black
ruff

# pre-commit
pre-commit

# for reading YAML configuration
PyYAML

# for testing
pytest
pytest-benchmark

# progress bar
tqdm

# for deps build
setuptools
wheel

# for optimum-habana
optimum-habana @ git+https://github.com/huggingface/optimum-habana.git
huggingface_hub[hf_xet]

# for DeepSpeed
deepspeed @ git+https://github.com/HabanaAI/DeepSpeed.git@1.20.0

# for Stable Diffusion
opencv-python
compel
sentencepiece

# For Web-Development
fastapi
uvicorn
