# data processing deps
numpy<2
pandas

# Python file formater and linter
black
ruff

# pre-commit
pre-commit

# For reading YAML configuration
PyYAML

# For testing
pytest
pytest-benchmark

# progress bar
tqdm

# For deps build
setuptools
wheel

# other

# For optimum habana
eager
optimum[habana]

# For Stable Diffusion
opencv-python
compel
sentencepiece
